.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
body{
    background-size:cover;
}
#status
{
font-size: 18px;
}
canvas{
box-shadow:gray 10px 10px 10px;
border:solid 3px rgb(80, 80, 80);
border-radius:10px;
}
